/* src/styles/global.css */
/* src/styles/global.css */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}




:root{
    --primary-color: rgb(9, 140, 24);
     
}

@font-face {
    font-family: "ArcadeClassic";
    src: url("/fonts/ARCADECLASSIC.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600&display=swap');


body {
    font-family: 'Manrope', sans-serif;
    background-color: var(--background-color);
    background-image: var(--background-image);
    color: var(--text-color);
    transition: background 0.3s ease, color 0.3s ease;
}

img{
    max-width: 100%;
    height: auto;
}

/* 🌑 Dark Mode Variabelen */
:root {
    --background-color: #ffffff;
    --background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
    --text-color: #000000;
}

/* 🌙 Wanneer dark mode aanstaat */
:root.dark-mode {
    --background-color: #121212;
    --background-image: none;
    --text-color: #ffffff;
}
